@import '_variables';
@import '_sushi';
@import '_tabbar';
html {
    color: $maincolor;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: $maincolor;
}
header {
    text-align: center;
    h3 {
        letter-spacing: 1rem;
        margin: 5.5rem auto 0;
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
        padding: 0 10%;
    }
    nav {
        padding-bottom: 18vh;
        ul {
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
            }
        }
    }
}
main {
    padding: 10vh 0;
}
section {
    text-align: center;
    h4 {
        font-size: 2.6rem;
        margin: 2rem;
    }
    p {
        padding: 0 5%;
        font-size: 2rem;
        line-height: 3rem;
    }
}
footer {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 40vh;
    a,
    p {
        display: inline-block;
        color: $maincolor;
        font-size: 2rem;
    }
    a:focus {
        color: #CCCCCC;
        outline: none;
        text-decoration: none;
    }
    a:visited {
        color: #CCCCCC;
    }
}
@media screen and (min-width: 510px) {
    header {
        h3 {
            margin-top: 3rem;
            font-size: 1rem;
            letter-spacing: 0.5rem;
        }
        h1 {
            font-size: 2rem;
        }
        nav{
          padding-bottom: 0;
        }
    }
    main {
      .tabbar {
        width:100%;
        border-bottom: 1px solid $maincolor;
          ul {
              margin: 0 auto;
              padding: 0;
              width: 60%;
              li {
                  display: inline-block;
                  float: none;
                  width: 18%;
                  button {
                      padding: 0.5rem 5%;
                      &:focus{
                        outline:none;
                        border:0.1rem solid $maincolor;
                        border-top-width: 0.2rem;
                        border-bottom: none;
                        padding-bottom: 0.4rem;
                      }
                      i{
                        font-size: 1rem;
                        p{
                        display: none;
                      }
                    }
                  }
              }
          }
      }
        section {
            clear: both;
            h4 {
                font-size: 1.5rem;
                text-align: left;
                padding-top: 1.2rem;
            }
            a,
            p {
                font-size: 1rem;
                line-height: 1.3rem;
                text-align: left;

            }
        }
    }
    footer{
      padding-top: 20vh;
      p,a{
        font-size: 1rem;
      }
    }
}
@media screen and (min-width: 840px){
  header{
    text-align: left;
    height: 30vh;
    h3{
      width: 100%;
      padding-left: 8%;
      float: left;
    }
    h1{
      float: left;
      max-width: 60%;
      padding-left: 8%;
    }
    nav{
      float: right;
      padding-right: 7%;
    }
  }
  main{
    padding-bottom: 0;
    .tabbar {
      width:100%;
      border-bottom: 1px solid $maincolor;
        ul {
            margin: 0 auto;
            padding: 0;
            width: 80%;
            li {
                display: inline-block;
                float: none;
                width: 19%;
                button {
                    padding: 0;
                    &:focus{
                      outline:none;
                      border:0.1rem solid $maincolor;
                      border-top-width: 0.2rem;
                      border-bottom: none;
                      padding-bottom: 0.4rem;
                    }
                    i{
                      font-size: 1rem;
                      padding: 0 1rem;
                    p{
                      display: inline-block;
                      color: $secondarycolor;
                      font-size: 1rem;
                      padding: 0 1rem;
                    }
                  }
                }
            }
        }
    }
    section{
      width: 30%;
      display: inline-block;
      margin: 10vh 1.5%;

      h4 {
          font-size: 1.4rem;
          text-align: left;
          margin-left: 1rem;
          margin: 0 1rem;
      }
      a,
      p {
          font-size: 1.1rem;
          line-height: 2rem;
          text-align: left;
    }
  }
}
footer{
  padding-top: 0;
}
}
